<template>
    <div class="panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nombre</td>
                    <td>Email</td>
                    <td>&nbsp;</td>
                </tr>
            </thead>
            <tbody v-if="regs.length">
                <tr v-for="reg in regs">
                    <td>{{reg.id}}</td>
                    <td>{{reg.name}}</td>
                    <td>{{reg.email}}</td>
                    <td>
                        <div class="btn btn-default" v-bind:reg-id="reg.id">
                            <i class="fa fa-edit"></i>
                        </div>
                        <div class="btn btn-default" v-bind:reg-id="reg.id">
                            <i class="fa fa-trash"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody v-else>
                <tr><td colspan='4'>Sin registros</td></tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                regs: []
            }
        },
        mounted() {
            var app = this;
            axios.get(window.location.origin+'/usuarios/list')
                .then(function (resp) {
                    console.log(resp);
                    app.regs = resp.data.data;
                })
                .catch(function (resp) {
                    console.log(resp);
                    alert("Could not load regs");
                });
        },
        methods: { 
        }
    }
</script>